.overview {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 1%;
  width: 100%;
  &-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0px 20px;
    @media screen and(max-width: 500px) {
      flex-direction: column;
      width: 100% !important;
      padding-bottom: 60px;
      .chartjs-size-monitor {
        position: relative !important;
      }
    }
  }
}
