<div class="transit" *ngIf="!loadingData">
    <form>
        <input #file name="fileUploader" [(ngModel)]="fileUploader" class="ng-hide" (change)="parseXLS($event)" multiple="false"
            type="file" />
        <div class="btn-container">
            <button (click)="file.click()" mat-raised-button color="primary" class="btn-desktop" *ngIf="role == 2">
                <mat-icon>cloud_upload</mat-icon>
                Upload File
            </button>
            <button mat-raised-button color="primary" (click)="download()" class="btn-desktop" *ngIf="role == 2">
                <mat-icon>cloud_download</mat-icon>
                Download
            </button>
        </div>
        <button (click)="file.click()" mat-mini-fab color="primary" class="btn-mobile">
            <mat-icon aria-label="Example icon-button with a heart icon">cloud_upload</mat-icon>
        </button>
    </form>
    <app-hbr-table [datasrc]="data" [cols]="cols" (editRowEvent)="onEditRow($event)" (deleteRowEvent)="onDeleteRow($event)" (ReceivedRowEvent)="onReceivedRow($event)"
        (expandRowDataEvent)="onExpandRowDataEvent($event)"></app-hbr-table>
</div>
<div *ngIf="loadingData" class="spinner-container">
    <app-spinner></app-spinner>
</div>