<div class="transit" *ngIf="!loadingData">
    <form>
        <!-- <input #file name="fileUploader" [(ngModel)]="fileUploader" class="ng-hide" (change)="parseXLS($event)" multiple="false"
            type="file" /> -->
        <div class="btn-container">
           <!-- <button (click)="file.click()" mat-raised-button color="primary" class="btn-desktop" *ngIf="role == 2">
                <mat-icon>cloud_upload</mat-icon>
                Upload File
            </button> -->
            <button mat-raised-button color="primary" (click)="download()" class="btn-desktop" *ngIf="role == 2">
                <mat-icon>cloud_download</mat-icon>
                Download
            </button>
        </div>
        <div class="btn-container-mobile"   *ngIf="role == 2">
            <mat-icon  (click)="file.click()" aria-label="Example icon-button with a heart icon">cloud_upload</mat-icon>
            <mat-icon (click)="download()" aria-label="Example icon-button with a heart icon">cloud_download</mat-icon>
        </div>
    </form>
    <app-hbr-table 
        [datasrc]="data"
        [cols]="cols"
        (editRowEvent)="onEditRow($event)"
        (deleteRowEvent)="onDeleteRow($event)"
        (ReceivedRowEvent)="onReceivedRow($event)"
        (expandRowDataEvent)="onExpandRowDataEvent($event)"
        *ngIf="data.length">
    </app-hbr-table>
    <app-empty-table *ngIf="!data.length  && !loadingData"></app-empty-table>
</div>
<div *ngIf="loadingData" class="spinner-container">
    <app-spinner></app-spinner>
</div>