.mat-toolbar {
    margin: -24px;
    margin-bottom: 0;
    width: auto;
}

.mat-form-field-infix {
  width: 100% !important
}
.form-container{
  padding-top:30px;
} 
.form-container > * {
  width: 100%;
}
