<mat-toolbar mat-dialog-title color="primary">
  <mat-toolbar-row>
    <span> {{ data.title }}</span>
  </mat-toolbar-row>
</mat-toolbar>
<form ngNativeValidate (ngSubmit)="update()">
  <mat-dialog-content>
    <div class="form-container">
      <mat-form-field>
        <mat-select placeholder="Status" name="status_id" required [(ngModel)]="box.status_id">
          <mat-option *ngFor="let e of status" [value]="e.id"> {{ e.name }} </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field *ngIf="box.status_id === 3">
        <input type="date" matInput required name="received_date" [(ngModel)]="box.received_date" placeholder="Received date">
      </mat-form-field>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-button color="primary" type="submit">{{ data.confirmBtn }}</button>
    <button mat-button mat-dialog-close>{{ data.cancelBtn }}</button>
  </mat-dialog-actions>
</form>