<mat-toolbar mat-dialog-title color="primary">
        <mat-toolbar-row>
          <span> {{ data.title }}</span>
        </mat-toolbar-row>
      </mat-toolbar>
      <mat-dialog-content>
        <div class="form-container">
            <h3>Are you sure you want to delete warehouse: {{ warehouse.name }} ?</h3>
        </div>
      </mat-dialog-content>
      <mat-dialog-actions>
        <button mat-button color="warn" (click)="update()">{{ data.confirmBtn }}</button>
        <button mat-button mat-dialog-close>{{ data.cancelBtn }}</button>
      </mat-dialog-actions>