.mat-row,
.mat-header-row {
    width: 100%;
}

.mat-row:hover {
    background-color: #ededed;
    transition: 0.5s ease-in-out;
    cursor: pointer;
}

.totalizer {
    font-family: Roboto,"Helvetica Neue",sans-serif;
    font-size: 12px;
    position: absolute;
    min-height: 56px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 45%;
    align-items: center;
    padding: 0px 20px;
    &-title {
        color: rgba(0,0,0,.54);
    }
}

.mat-paginator-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    min-height: 56px;
    flex-wrap: wrap-reverse;
    position: sticky;
    bottom: 0;
    right: 0;
}

.mat-column-actions {
    justify-content: flex-start;
}

.mat-column-hbr_id {
}
.mat-column-username {
  span {
    word-break: break-all;
    padding: 10px;
  }
}
.mat-column-warehouse {
}

.mat-column-box_qty {
}

.mat-column-courier {
}

.mat-column-customer {}

.mat-column-date {
    justify-content: center;
}

.mat-column-description>span {
    text-transform: lowercase;
}

.mat-column-description>span::first-letter {
    text-transform: capitalize;
}

.mat-column-destination {
}

.mat-column-proforma {
}

.mat-column-shipping_date {
}

.mat-column-total_value {
}

.mat-column-total_weight {
}

.mat-column-tracking {
}

.mat-column-tracking>span {
    max-width: 100%;
}

.mat-header-row {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 1;
    background-color: inherit;
}

.mat-table {
    overflow: auto;
    height: calc(100vh - 204px);
}

.mobile-label {
    display: none;
}

.mat-column-select {
    overflow: initial;
}
@media(max-width: 1200px) {
  .mat-row {
    font-size: 10px;
  }
}

@media(max-width: 800px) {
    .mat-paginator-range-label {
        margin: 0 32px 0 0px
    }
    .mat-table {
        overflow-x: hidden;
        height: calc(100vh - 245px);
    }
    .mobile-label {
        display: inline-block;
        font-weight: bold;
        text-align: left;
        margin-right: 10px;
    }
    .totalizer {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        background: white;
        padding: 10px 50px;
        position: absolute;
        bottom: 0;
        width: auto;
        flex-direction: initial;
        min-height: auto;
    }
    .mat-cell:first-child,
    .mat-footer-cell:first-child,
    .-header-cell:first-child {
        padding: 0;
    }
    .mat-header-row {
        display: none;
    }
    .mat-column-actions {
        position: absolute;
        right: 0;
    }
    .mat-row {
        position: relative; 
        flex-direction: column;
        align-items: start;
        padding: 8px 24px;
        width: 100%;
    }
    .mat-paginator-container {
        justify-content: center !important;
    }
}
