<mat-table #table matSort [dataSource]="dataSource">
  <!-- Generic column definition -->
  <div *ngFor="let column of columns">
    <ng-container *ngIf="column.header === 'Actions' && column.columnDef==='actions'" [matColumnDef]="column.columnDef">
      <mat-header-cell *matHeaderCellDef>{{ column.header }}</mat-header-cell>
      <mat-cell *matCellDef="let row">
      <button  class="mobile-label" mat-icon-button [matMenuTriggerFor]="appMenu">
          <mat-icon class="more-mobile">more_vert</mat-icon>
        </button>
        <mat-menu #appMenu="matMenu">
          <button *ngIf="column.showEdit" mat-menu-item (click)="editRow(row)">Edit</button>
          <button *ngIf="column.showSendStock" mat-menu-item (click)="sendBoxes(row)">Send Boxes</button>
          <button *ngIf="column.showReceived" mat-menu-item (click)="received(row)">Mark as...</button>
          <button *ngIf="column.showExpand" mat-menu-item (click)="expand(row)">Expand</button>
          <button *ngIf="column.showDelete" mat-menu-item (click)="deleteRow(row)">Delete</button>
        </mat-menu>
      </mat-cell>
    </ng-container>
    <ng-container *ngIf="column.header !== 'Actions'" [matColumnDef]="column.columnDef">
      <mat-header-cell *matHeaderCellDef mat-sort-header>{{ column.header }}</mat-header-cell>
      <mat-cell *matCellDef="let row">
        <span class="mobile-label">{{ column.header }}: </span>
        <span *ngIf="column.cell(row)
         && column.type !== 'value'
         && column.type !== 'weight'
         && column.type !== 'date'">{{ column.cell(row) }}</span>
         <span *ngIf="column.cell(row)
         && column.type === 'value'">U$D {{ column.cell(row) }}</span>
         <span *ngIf="column.cell(row)
         && column.type === 'weight'">{{ column.cell(row) }} Kg.</span>
         <span *ngIf="column.cell(row)
         && column.type === 'date'"> {{ column.cell(row) * 1000 | date:'dd-MM-yy' }}</span>
      </mat-cell>
    </ng-container>
  </div>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>
<div class="totalizer" *ngIf="!noTotal">
  <span class="totalizer-title">Total Value: </span><span class="totalizer-value"> U$D{{ totalizer.value }}</span>
  <span class="totalizer-title">Total Kg: </span><span class="totalizer-value">{{ totalizer.weight }} Kg</span>
  <span class="totalizer-title">Total Quantity: </span><span class="totalizer-value">{{ totalizer.quantity }}</span>
  <span *ngIf="!noTotalOperation" class="totalizer-title">Total Operations: </span><span  *ngIf="!noTotalOperation" class="totalizer-value">{{ totalizer.operations }}</span>
</div>
<mat-paginator #paginator [length]="dataSource.data.length" [pageIndex]="0" [pageSize]="50" [pageSizeOptions]="[50, 100, 250]"
  showFirstLastButtons>
</mat-paginator>
