.sidenav-container {
  height: 100%;
}

.mat-toolbar {
  justify-content: space-between;
  @media(max-width: 600px) {
    justify-content: initial;
  }
}
.mat-drawer-container {
  background: white;
}
.sidenav {
  width: 200px;
  box-shadow: 3px 0 6px rgba(0,0,0,.24);
}
