<div class="delivered" *ngIf="!loadingData">
    <form>
        <div class="btn-container">
            <button mat-raised-button color="primary" (click)="download()" class="btn-desktop" *ngIf="role == 2">
                <mat-icon>cloud_download</mat-icon>
                Download
            </button>
        </div>
        <div class="btn-container-mobile"   *ngIf="role == 2">
            <mat-icon (click)="download()" aria-label="Example icon-button with a heart icon">cloud_download</mat-icon>
        </div>
    </form>
    <app-hbr-table [datasrc]="tableData" [cols]="cols"  [noProfit]="role !== 2"></app-hbr-table>
</div>
<div *ngIf="loadingData" class="spinner-container">
    <app-spinner></app-spinner>
</div>
