<mat-toolbar mat-dialog-title color="primary">
  <mat-toolbar-row>
    <span> {{ data.title }}</span>
  </mat-toolbar-row>
</mat-toolbar>
<form #stockForm ngNativeValidate (ngSubmit)="update()">
  <mat-dialog-content>
    <div class="form-container">
      <mat-form-field>
        <mat-select placeholder="Warehouse" [disabled]="isEditing" [(ngModel)]="box.wh_id" required name="wh_id">
          <mat-option *ngFor="let warehouse of warehouses" [value]="warehouse.id"> {{ warehouse.name }} </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <input matInput type="number"  placeholder="Box Quantity" [disabled]="isEditing" [(ngModel)]="box.box_qty" required name="box_qty">
      </mat-form-field>
      <mat-form-field>
        <input matInput type="number" step="0.01" placeholder="Total weight" [disabled]="isEditing" [(ngModel)]="box.total_weight" required name="total_weight">
      </mat-form-field>
      <mat-form-field>
        <input matInput type="number" step="0.01" placeholder="Total value" [disabled]="isEditing" [(ngModel)]="box.total_value" required name="total_value">
      </mat-form-field>
      <mat-form-field>
        <mat-select placeholder="Customers" [disabled]="isEditing" [(ngModel)]="box.customer_id" required name="customer_id">
          <mat-option *ngFor="let customer of customers" [value]="customer.id"> {{ customer.name }} </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <input type="date" matInput [disabled]="isEditing" placeholder="WH in date" [(ngModel)]="box.date" required name="date" />
      </mat-form-field>
      <mat-form-field>
        <input required matInput placeholder="Tracking" name="tracking" [(ngModel)]="box.tracking" [disabled]="isEditing">
    </mat-form-field>
    <mat-form-field>
      <mat-select placeholder="Couriers" [disabled]="isEditing" [(ngModel)]="box.courier_id" required name="courier_id">
        <mat-option *ngFor="let courier of couriers" [value]="courier.id"> {{ courier.name }} </mat-option>
      </mat-select>
    </mat-form-field>
      <mat-form-field>
        <textarea matInput [disabled]="isEditing" placeholder="Description" [(ngModel)]="box.description" required name="description"></textarea>
      </mat-form-field>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-button color="primary" [disabled]="isEditing" type="submit">{{ data.confirmBtn }}</button>
    <button mat-button [disabled]="isEditing" mat-dialog-close>{{ data.cancelBtn }}</button>
  </mat-dialog-actions>
</form>
