@import './../../../_variables';

.search-box {
    background: lighten($secondaryColor, 5%);
    width: 300px;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    @media(max-width: 800px) {
        position: absolute;
        left: 0;
        right: 0;
        width: 100%;
        top: 55px;
    }
    .mat-icon {
        padding: 8px;
    }
    input {
        color: white;
        font-weight: 500;
        width: 100%;
        border: none;
        padding: 5px;
        padding-left: 15px;
        background: lighten($secondaryColor, 5%);
        &::placeholder {
            color: white;
        }
        &:focus, &:active, &:active:focus {
            border: none;
            outline: none;
            box-shadow: none;
        }
    }
}
