.mat-row,
.mat-header-row {
    width: 150vw;
}

.mat-row:hover {
    background-color: #ededed;
    transition: 0.5s ease-in-out;
    cursor: pointer;
}

.mat-paginator-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    min-height: 56px;
    flex-wrap: wrap-reverse;
    position: sticky;
    bottom: 0;
    right: 0;
}

.mat-column-actions {
    flex: 0 0 60px;
    justify-content: flex-start;
}

.mat-column-hbr_id {
    flex: 0 0 100px;
    justify-content: center;
}

.mat-column-warehouse {
    flex: 0 0 200px;
    justify-content: center;
}

.mat-column-box_qty {
    flex: 0 0 80px;
    justify-content: center;
}

.mat-column-courier {
    flex: 0 0 200px;
    justify-content: center;
}

.mat-column-customer {}

.mat-column-date {
    flex: 0 0 120px;
    justify-content: center;
}

.mat-column-description>span {
    text-transform: lowercase;
}

.mat-column-description>span::first-letter {
    text-transform: capitalize;
}

.mat-column-destination {
    flex: 0 0 200px;
    justify-content: center;
}

.mat-column-proforma {
    flex: 0 0 80px;
    justify-content: center;
}

.mat-column-shipping_date {
    flex: 0 0 120px;
    justify-content: center;
}

.mat-column-total_value {
    flex: 0 0 120px;
    justify-content: center;
}

.mat-column-total_weight {
    flex: 0 0 120px;
    justify-content: center;
}

.mat-column-tracking {
    justify-content: flex-start;
}

.mat-column-tracking>span {
    max-width: 100%;
}

.mat-header-row {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 1;
    background-color: inherit;
}

.mat-table {
    overflow: auto;
    height: calc(100vh - 204px);
}

.mobile-label {
    display: none;
}

.mat-column-select {
    overflow: initial;
}

@media(max-width: 600px) {
    .mat-paginator-range-label {
        margin: 0 32px 0 0px
    }
    .mat-table {
        overflow-x: hidden;
        height: calc(100vh - 245px);
    }
    .mobile-label {
        display: inline-block;
        font-weight: bold;
        text-align: left;
        margin-right: 10px;
    }
    .mat-cell:first-child,
    .mat-footer-cell:first-child,
    .-header-cell:first-child {
        padding: 0;
    }
    .mat-header-row {
        display: none;
    }
    .mat-row {
        flex-direction: column;
        align-items: start;
        padding: 8px 24px;
        width: 100%;
    }
    .mat-paginator-container {
        justify-content: center !important;
    }
}